.App {
  background-image: url(https://res.cloudinary.com/torre-technologies-co/image/upload/f_auto,q_auto/v1617734713/origin/explorer/ftswyh7z7twblwhruyku.jpg);
  height: 100vh;
  background-repeat:no-repeat;
  background-size: cover;
  justify-content: center;
}

.App,
form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h4 {
  color: #ffffff;
  z-index: 1;
  font-family: "Mulish","Helvetica","Arial",sans-serif;
  /* font-size: 1.6rem; */
  font-style: normal;
  font-weight: 400;
  line-height: 2.675rem;
  letter-spacing: 0;
  margin-bottom: 50px;
}

.btn-login {
  border-radius: 18px;
  border: 3px solid #27292d;
  color: #27292d;
  font-size: 17px;
  min-height: 50px;
  margin-top: 20px;
  width: 256px;
}

.input-username {
  border-radius: 18px;
  border: 3px solid grey;
  color: #27292d;
  min-height: 50px;
  text-align: center;
  width: 256px;
}

input:focus,
.btn-login {
  background-color: #cddc39;
}
